head, body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    z-index: 0;
    position: absolute;
}

#labels{
    position: absolute;
    z-index: 1;
    font-family: Arial;
    font-size: 12px;
    color: #fff;
    background-color: #fff;
    padding: 2px;
    border: 1px solid #000;
    border-radius: 2px;
    /* disable mouse interaction */
    pointer-events: none;

}
